@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Raleway&Bebas+Neue&family=Fjalla+One&family=Oswald:wght@500&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero{
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 35px;
}

nav a :hover{
    background-color: #E7C24F;
    color: #FFFFFF;
}

.hometitle{
    color: #FFFFFF;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: #000000;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background{
    height: 725px;
}

body{
    background-color: #FFFFFF;
    font-family: "carter one", "fjalla one", "bebas neuer";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

.home-title{
    font-family: "carter one", "bebas neuer", "fjalla one" ;
    font-size: 2em;
    margin-top: 10px;
}

header{
    background-color: #0077B6;
    font-family:"carter one", "fjalla one", "oswald";
}
 
.book, .join{
    background-color: #03045E;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img{
    border: 10px solid #000000;
}

.book:hover, .join:hover{
    background-color: #03045E;
    color: #0077B6;
}

#background{
    background-color: #03045E;
}

.msg{
    background-color: #03045E;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: #FFFFFF;
    font-family: "oswald", "bebas neuer", "fjalla one";
}

.msg p{
    color: #000000;
    font-size: 8em;
    padding-bottom: 15px;
}

.river-img{
    background-color: #0077B6;
}

.paragraph{
    font-family: "Raleway";
}

.rivers-card-img, .camping-card-img, .mounting-card-img{
    margin: 200px 0;
}

footer{
    background-color: #E7C24F;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size: 1.2em;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer a:hover{
    color: #0077B6;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}